// fonts
$font-main: 'Noto Sans TC', sans-serif;
$font-title: 'Lobster', cursive;

// colors
$color-white: #f3f4f5;
$color-primary: rgb(192, 166, 80);
$color-primary-light: rgb(255, 254, 166);
$color-secondary: rgb(183, 188, 255);
$color-delete: rgb(243, 101, 45);
$color-recomend: rgb(47, 170, 98);

// Breakpoints //
$medium: 768px;
$large: 1024px;
$small: 320px;
