body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.page {
  background-image: url(../images/fondo.jpg);
  background-position: center;
  background-repeat: x-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: $font-main;
  padding: 5px;
}
